<%- include("header") -%>
<h2>This is about page</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sed in,
    ullam suscipit, hic doloremque minus ducimus pariatur ex, quam cumque
    deleniti fugiat consequatur! A recusandae ducimus molestiae officia
    voluptate ex aspernatur fugiat sunt tenetur ipsa, saepe libero provident?
    Molestias earum quam architecto odio hic velit doloremque cupiditate aperiam
    facere eum quo nihil sapiente praesentium ea odit minus iste officiis
    ducimus minima tenetur, quasi inventore mollitia? In corporis officia soluta
    voluptas fuga distinctio itaque odio porro earum iure! Porro officiis
    eligendi expedita consequatur aspernatur deserunt sunt architecto
    repudiandae non ducimus dicta explicabo hic cupiditate pariatur dolor ipsa
    voluptatibus, aliquid eaque, quasi dignissimos iste quisquam. Rerum eos,
    nihil doloribus repellendus esse unde beatae sapiente et voluptates officia
    possimus, dolorum autem eius odio laboriosam? Porro consequuntur adipisci
    fugiat ipsam? Explicabo assumenda reprehenderit nostrum, ea dolore
    perferendis error, minima consequatur doloribus numquam veritatis temporibus
    dolorem, eveniet vel quaerat quam earum sunt excepturi qui!
</p>
<%- include("footer") -%>
